extends index
block content
  h1 add

  form(method="post" action="/admin")

    .row
      label Title:
      input(type="text" placeholder="book title" name="title")

    .row.author
      label Author:
      input(type="text" placeholder="author" name="authors")
      button.addAuthorButton 

    .row.genre
      label Genre:
      input(type="text" placeholder="genre" name="genres")
      button.addGenreButton 

    .row
      label Description:
      input(type="text" placeholder="book description" name="description")

    .row
      label Image URL:
      input(type="text" placeholder="http://williamwoods.ecampus.com/Content/img/book_stack.png" name="image_url")

    .row
      button(type="submit") Add
