extends index
block content
  .container#add
    h1 Add Book

    form(method="post" action="/admin")

      .row
        label Title:
        input(type="text" placeholder="book title" name="title")

      .row.author
        label Author:
        input(type="text" placeholder="author" name="authors")
        button.addAuthorButton.span.glyphicon.glyphicon-plus.btn.btn-xs

      .row.genre
        label Genre:
        input(type="text" placeholder="genre" name="genres")
        button.addGenreButton.span.glyphicon.glyphicon-plus.btn.btn-xs

      .row
        label Image URL:
        input(type="text" placeholder="http://williamwoods.ecampus.com/Content/img/book_stack.png" name="image_url" size="50")

      .row
        label Description:
        textarea(type="text" placeholder="book description" name="description" rows="4" cols="50")

      .row
        button(type="submit") Add Book
