extends index
block content
  h1 admin
  a(href="/admin/add") Add
  +previousNext
  +booklist(true)
  +previousNext


mixin previousNext
  .clearfix
    if page > 1
      a.pull-left.btn.btn-info(href='/admin?options='+options +'&page='+(page-1))
        .glyphicon.glyphicon-chevron-left
        |Previous
    if !lastPageFlag && books.length >= 10
      a.pull-right.btn.btn-info(href='/admin?options='+options +'&page='+(page+1)) Next
        .glyphicon.glyphicon-chevron-right
  .clearfix
