extends index
block content
  h1 Welcome to the Library
  +previousNext
  +booklist
  +previousNext


mixin previousNext
  if page > 1
    a(href='/?page='+(page-1)) Previous
  if !lastPageFlag
    a(href='/?page='+(page+1)) Next
