doctype html
html
  head
    title Book Store
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/admin") Admin
      li Search
        input(placeholder="book or author")
        button &#9906;

    block content
