extends index
block content
  +booklist
  br
  .previousNext
    if page > 1
      a(href='/search?options='+options +'&page='+(page-1)) Previous
    br
    if !lastPageFlag
      a(href='/search?options='+options +'&page='+(page+1)) Next
