extends index
block content
  +previousNext
  +booklist
  +previousNext


mixin previousNext
  .clearfix
    if page > 1
      a.pull-left.btn.btn-info(href='/search?options='+options +'&page='+(page-1))
        .glyphicon.glyphicon-chevron-left
        |Previous
    if !lastPageFlag
      a.pull-right.btn.btn-info(href='/search?options='+options +'&page='+(page+1)) Next
        .glyphicon.glyphicon-chevron-right
  .clearfix
