.table th {
  text-align: center;
}

.table td {
  text-align: left;
}

.table img {
  height: 194px;
}

.table li {
  list-style: none;
  margin-bottom: 10px;
}

.btn-lg {
  margin-right: 50px;
}

.btn-info {
  margin: 30px 0;
}

.row {
  margin-top: 3%
}

.row input {
  margin-right: 1%
}

.row label {
  margin-right: 1%
}

.row .genre a {
  margin-right: 1%;
}

.container #add {
  text-align: center
}

.container {
  text-align: center
}

#edit {
  text-align: left
}

.titleImage img {
  width: 300px;
  border-radius: 5px;
  margin-top: 5%;
}

.authorGenreDescription #genres {
  margin-top: 15%;
}

.authorGenreDescription #description {
  margin-top: 15%;
}

.row #editDescription {
  display: block;
}

.glyphicon-remove {
  margin: 4px 9px;
}

.glyphicon-plus {
  margin-top: 5px;
}
